@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

body {
  background: whitesmoke;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
